# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# test coverage
coverage/
.nyc_output/
app/TA-portal-infinity/my-custom-coverage

# local caches
.cache/


# Maven
**/target/

#remove package-lock.json from gitignore when develop ends and production starts.
**/package-lock.json